/* for all */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

/* heading nav section */
.nav-flex{ 
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;
}

.nav-flex h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.nav-flex p{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  
}
.nav-right{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .nav-right>div{
    margin-left: 50px;
} */


/* main top section */
.top-section{
    margin: 100px 200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    row-gap: 10px;
    
}

.top-section h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}
.top-section p{
    line-height: 26px;
}

.orange-btn{
    background: #FF900E;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    }
.banner{
    margin: 100px 200px;
}
.banner img{
    width: 100%;
}

/* main features section  */

.features{
    margin: 100px 200px;
    display: flex;

}

.left-features{
    /* display: flex; */
    width: 95%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 24px;
}

.right-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#dark{
    color: #727272;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
#black{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
#orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

/* media query responsive for mobile device*/
@media screen and (max-width:668px) {
    *{
        margin: 5px;
        font-family: 'Open Sans', sans-serif;
        background-color: whitesmoke;
    }

    /* nav section */
    .nav-flex{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .nav-flex h1{
        font-weight: 700;
        text-align: center;
        line-height: 100px;
    }
    .nav-right{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

     /* top section */
     .top-section{
        margin: 0;
         display: flex;
         flex-direction:column;
         align-items: center;
         margin-bottom: 20px;
        /* row-gap: 10px; */
     }
     
     .top-section h1{
        font-size: 45px;
        line-height: 50px;
     }
     
     /* banner  */
     .banner{
        margin: 0;
        margin-bottom: 20px;
     }
     .banner img{
        width: 100%;
     }

     /* features */
     .features{
        margin: 0;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
     }

     .left-features{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
     }

     .right-features{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}
