/* for all */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

/* heading nav section */
.nav-flex{ 
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;
}

.nav-flex h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.nav-flex p{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  
}
.nav-right{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .nav-right>div{
    margin-left: 50px;
} */


/* main top section */
.top-section{
    margin: 100px 200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    row-gap: 10px;
    
}

.top-section h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}
.top-section p{
    line-height: 26px;
}

.orange-btn{
    background: #FF900E;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    }
.banner{
    margin: 100px 200px;
}
.banner img{
    width: 95%;
}

/* main features section  */

.features{
    margin: 100px 200px;
    display: flex;

}

.left-features{
    /* display: flex; */
    width: 95%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 24px; 
    margin-right: 20px;
}

.right-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-left:20px;
}

#dark{
    color: #727272;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
#black{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
#orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

/* features love and enjoy section */
.love-enjoy{
    margin: 100px 200px;
    display: flex;
    justify-content: space-evenly;
}

hr{
    border: 2px solid  #FF900E;
    width: 1px;
    height: 106px;
    background:#FF900E;
    margin-right: 20px;

}
.heading-hr{
    display: flex;
}

.love-enjoy h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.love-enjoy p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;

}
.love-left{
    width: 95%;
}
.love-left-top{
    margin-bottom: 60px;
}
.heading1{
    margin-bottom: 20px;
}

.desktop-mobile{
    margin-bottom: 60px;
}
.desktop-mobile h3{
    margin-bottom: 20px;
}
.desktop-mobile p{
    line-height: 26px;
}
.love-right{
    width: 95%;
    margin-left: 5px;
    top: 60px;
}
.love-right img{
    width: 95%;
}

.btn{
    position: absolute;
    width: 342px;
    height: 200px;
    left: 760px;
    top: 2706px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}
.btn h1{
    background-color: #FF900E;
    color: white;
}
.btn p{
    background-color: #FF900E;
    color: white;
}

.facts{
    margin: 100px 200px;
    display: flex;
    flex-direction: column;
}
.facts h1{
    font-size: 45px;
    line-height: 53px;
}

.icons{
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
   
}
.icons div h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}
.icons div p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

.icons .div{
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.icons .div:hover{
    transform: translate(30px, 20px) rotate(180deg);
}

/* sponsors */
.sponsors{
     margin: 100px 200px;
     display: flex;
     flex-direction:column;
     align-items: center;
     margin-bottom: 20px;
    /* row-gap: 10px; */
 }
 .sponsors h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 20px;
    
 }
 .sponsors p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
 }
 .sponsors-logo{
    margin: 40px 200px;
    display: flex;
    justify-content: space-between;
 }
 
 footer p{
    margin: 0px 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100px;
    left: 240px;
    top: 4444px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    }
 
    /* extra section  architect tools */
    .architect-tools {
        margin: 80px 200px;
    }

    .architect-tools h1{
        text-align: center;
        font-weight: 700;
        font-size: 45px;
        line-height: 53px;
        color: #131313;
        margin-bottom: 80px;
    }

    
    .architect{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .architect img{
        border-radius: 10px;
    }
    .architect h3{
        font-weight: 700;
        font-size: 35px;
        line-height: 53px;
        color: #131313;
        margin-bottom: 80px;
    }
/*  --------------------------------------
media query responsive for mobile device
----------------------------------------*/


@media screen and (max-width:668px) {
    *{
        margin: 5px;
        font-family: 'Open Sans', sans-serif;
        background-color: whitesmoke;
    }
    /* check */

    /* nav section */
    .nav-flex{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .nav-flex h1{
        font-weight: 700;
        text-align: center;
        line-height: 100px;
    }
    .nav-right{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

     /* top section */
     .top-section{
        margin: 0;
         display: flex;
         flex-direction:column;
         align-items: center;
         margin-bottom: 20px;
        /* row-gap: 10px; */
     }
     
     .top-section h1{
        font-size: 45px;
        line-height: 50px;
     }
     
     /* banner  */
     .banner{
        margin: 0;
        margin-bottom: 20px;
     }
     .banner img{
        width: 100%;
     }

     /* features */
     .features{
        margin: 0;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
     }

     .left-features{
        margin: 0;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
     }
     .left-features img{
        width: 95%;
     }

     .right-features{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     /* features love and enjoy */
     .love-enjoy, .facts, .icons, .sponsors, .architect-tools, .architect,  footer p {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
     }
     .sponsors-logo{
        width: 90%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
     }
     .sponsors-logo img{
        width: 50%;       
     }
     .love-right{
        width: 100%;
        display: flex;
        flex-direction: column;
     }

     .btn{
        display: none;
        /* width: 100%;
        margin: 0;
        width: 342px;
        height: 200px;
        background: #FF900E;
        border-radius: 18px;
        border: none; */
     }
     .architect-tools h1{
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        line-height: 33px;
        color: #131313;
        margin-bottom: 60px;
     }
     .architect img{
        width: 80%;
        align-items: center;
     }
     


    
}
